<!DOCTYPE html>
<html lang="en" ng-app="sfPageBuilder">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../js/jquery-3.4.1.min.js"></script>
    <script src="../js/angular.js"></script>
    <script src="../js/bootstrap.js"></script>
    <script src="../js/canvas.js"></script>
    <script src="../js/grapes.js"></script>
    <script src="../js/sfPageScript.js"></script>

    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">

    <title>Sf Page Builder</title>
</head>
<body ng-controller="sfPageController">

<div id="themeDiv">
    <select ng-model="selectedObjectName" ng-change="fetchFields()" id="select" ng-options="eachObject for eachObject in objectsName">
        <option value="">Select Object</option>
    </select>

    <ul>
        <li ng-repeat="eachField in allFields">
            <button>{{eachField}}</button>
        </li>
    </ul>
</div>

</body>
</html>